
h2{
color: magenta;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 100%;

}

body{
background: blue;



}

div{background: pink;
border: purple;

}

.box1{
width: 100px;
height: 100px;
position: relative;
background: aquamarine;


}

.pictures{
    background: yellow;
border-style: solid;
border-color: black;
border-width:  10px;

}

.box2{
background-color: purple;
position: absolute;
top:100px;
left: 400px;

}

#idexample{
background: cyan;
border-style: solid;
border-color: whitesmoke;
border-width:  5px;
}

span{
background: red;
color: white;

}